$color-font-primary: #2c3e50;
$color-font-light: #566370;
$color-font-header: #1e2b38;
$color-btn-primary: #f5f542;
$color-btn-primary--hover: #e7e710;
$color-input-border: #ced4da;
$color-input-placeholder: #999999;
$color-input-error: #dc3545;
$color-input-valid: #28a745;
$color-input-label: #797979;
$color-input-datarow-border: #ebeff2;
$color-para-background: #f6f6f6;
$color-highlighter-blue: #74dffa;

$padding-std-container: 1.5rem;
$padding-datarow: .5em;

$font-size-reduced: .86em;